/* style.css */

/*
* This project uses the Silk icon set
* by Mark James
* http://www.famfamfam.com/lab/icons/silk/
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

	body {
		font-family: "Verdana", sans-serif;
        color: #222;
        font-size: 18px;
        background-color: #efefcf;
	}
    
    h1, h2, h3 {
        color: #333;
        letter-spacing: 1px;
    }
    
    h1 {
        font-size: 200%;
        color: #333;
        margin: 12px 0 0;
    }
    
    h2 {
        font-size: 150%;
        padding: 24px 0 12px;
    }
    
    h3 {
        font-size: 130%;
        padding: 12px 0 8px;
    }
    
    a {
        color: rgba(40,50,220,.9);
        text-decoration: none;
    }
    
    a:active {
    
    }
    
    a:hover {
        border-bottom: 2px dotted rgba(40,50,220,.9);
        text-shadow: 1px 1px 5px rgba(120,130,255,.5);
    }
    
    input {
        font-size: 110%;
        padding: 5px;
        border: 1px solid rgba(0,0,0,.8);
        box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    }
    
    .message {
        display: inline-block;
        margin: 10px;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid rgba(0,0,0,.8);
        background: rgba(255,255,200,.9);
    }
    
    .footer p {
        font-size: 90%;
        margin: 12px 0;
    }
    
    .navbar {
        position: relative;
    }
    
    .navbar h2 {
        
    }
    
    .controls {
        text-align: right;
        vertical-align: middle;
        line-height: 120%;
        margin: 0 0 12px;
        position: absolute;
        bottom: 0;
        right: 0;
    }
    
    .controls a, input[type=submit] {
        margin: 0 4px;
        outline: 0;
        font-size: 80%;
        padding: 2px;
        color: rgba(20,20,20,1);
        display: inline-block;
        margin: 0;
        padding: 4px 8px;
        border-radius: 4px;
        box-shadow: 1px 1px 2px rgba(0,0,0,.3);
        border: 1px solid #222;
        background: rgb(252,255,244); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(252,255,244,1) 0%, rgba(223,229,215,1) 40%, rgba(179,190,173,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,255,244,1)), color-stop(40%,rgba(223,229,215,1)), color-stop(100%,rgba(179,190,173,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%); /* IE10+ */
        background: linear-gradient(top, rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 ); /* IE6-9 */
    }
    
    .controls a:hover, input[type=submit]:hover {
        color: rbga(255,255,255,.9);
        box-shadow: 1px 1px 4px rgba(0,0,0,.4);
    }
    
    .controls a:active, input[type=submit]:active {
        position: relative;
        top: 1px;
        left: 1px;
        box-shadow: inset 1px 1px 2px rgba(0,0,0,.3);
    }
    
    .controls span {
        margin: 0 2px;
    }
    
    .controls span:first-child {
        border-left: 0;
    }
    
    .person-actions {
        text-align: left;
    }
    
    .person-actions a {
        margin: 0 4px;
    }
    
    
    .item .actions a:hover {
        border: 0;
    }
    
    li.person>div {
        padding: 10px;
        border: 1px solid rgba(0,0,0,.5);
        border-bottom: none;
        background-color: rgba(255,255,200,.4);
    }
    
    li.person:first-child>div{
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    
    li.person:nth-child(even)>div {
        background-color: rgba(25,25,220,.1);
    }
    
    li.person:last-child>div {
        border-bottom: 1px solid rgba(0,0,0,.5);
        margin-bottom: 24px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    
    .box {
        border-radius: 15px;
        padding: 8px 12px;
        background-color: rgba(0,0,0,.1);
    }
    
    .person-actions {
        line-height: 200%;
    }
    
    .name {
        font-size: 150%;
        padding: 4px 0 16px;
    }
    
    .item {
        margin: 0;
        width: 100%;
    }
    
    .item>div {
        font-size: 120%;
        background-color: rgba(0,0,0,.1);
        line-height: 32px;
        padding: 8px 0 4px;
    }
    
    .item:nth-child(even)>div {
        background-color: rgba(0,0,0,.2);
    }
    
    .item:first-child>div {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
    
    .item:last-child>div {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }
    
    table {
        background-color: rgba(0,0,0,.1);
        border-radius: 15px;
        display: inline-block;
        padding: 10px;
    }
    
    tr {
        margin: 0 10px;
        background: rgba(0,0,0,.1);
    }
    
    tr:nth-child(even) {
        background: rgba(0,0,0,.2);
    }    
    
    td {
        display: table-cell;
        padding: 10px 20px;
        vertical-align: middle;
    }
    
    td:first-child {
        text-align: right;
    }
	
    strong {
        font-weight: bold;
    }
    
    em {
        font-style: italic;
        font-size: 80%;
    }
    
    p {
        margin: 8px  0 12px;
    }

/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

	body {
		
	}

}
